{% extends "layout.html.twig" %}

{% block page %}
    {% block content %}
    <body>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </body>
    {% endblock %}
{% endblock %}