{% extends "layout.twig" %}

{% block titleGoogle %}Créer un nouveau projet{% endblock %}

{% block title %}Créer un nouveau projet{% endblock %}

{% block content %}
        <h2 class="sub-header">Suivre un site</h2>
        {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Veillez à remplir les champs correctement.
        </div>
        {% elseif success is defined %}
            <div class="alert alert-success" role="alert">
              <strong>Bravo !</strong> Le mot clé a bien été rentré.
            </div>
        {% endif %}
            <form id="form-extract" method="POST" action="insert_project.php">
              <div class="col-md-12">
                <label for="nbserp">Nom du projet :</label>
                <input class="form-control" type="text" name="name" />
              </div>
              <div class="col-md-12">
                <label for="nbserp">Adresse URL du site :</label>
                <input class="form-control" type="text" name="name" />
              </div>
              <div class="col-md-12" style="margin-top:20px;">
                <input class="btn btn-success" type="submit" name="search" value="Ajouter" />
              </div>
            </form>
          </div>
{% endblock %}