{% extends 'layout.html.twig' %}

{% block title %} Login | Open-SEO {% endblock %}


{% block title_h1 %} Connexion {% endblock %}
{% block content %}
    <div class="col-md-6 col-md-offset-3 login-form">    
    {{ form(form) }}
    </div>
    
{% endblock %}
