{% extends 'layout.html.twig' %}

{% block title %}Inscription | Open-SEO{% endblock %}

{% block title_h1 %} Inscription {% endblock %}
{% block content %}
    <div class="col-md-6 col-md-offset-3 login-form">    
    {{ form(form) }}
    </div>
{% endblock %}