{# layout principal #}
<!doctype html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Open-SEO{% endblock %}</title>

        {% block metas %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {% endblock %}

        {% block assets %}
            <!-- Bootstrap -->
            <link href="{{ global.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
            <link href="{{ global.request.basepath }}/css/style.css" rel="stylesheet">

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ global.request.basepath }}/js/bootstrap.min.js"></script>
            <script src="{{ global.request.basepath }}/js/jquery.dataTables.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

            <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
            <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>
            <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ path('index') }}">Open-SEO</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('user_login') }}">Connexion</a>
                        <li><a href="{{ path('user_register') }}">Inscription</a>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <div class="container-fluid">
            <div class="page-body">

                {% block flashsession %}
                    {% for message in app.session.getFlashBag.get('message') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                            
                        </div>                
                    {% endfor %}   
                {% endblock %}
                
                <div class="row page-header">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="text-center">{% block title_h1 %}{% endblock %}</h1>
                    </div>
                </div>
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>